/* ==========================================================================
   GENERATIVE/CONFIG
   ========================================================================== */


/**
 * BREAKPOINTS
 * https://github.com/sass-mq/sass-mq
 */
$mq-breakpoints: (
  sm: 320px,
  md: 740px,
  lg: 980px,
  xl: 1300px
);


/**
 * WIDTHS
 * Define the total columns needed for widths.
 * By default, we generate fractions for 12 columns.
 */
$total-columns: 12 !default;


/**
 * HEADINGS
 */
$headings: (
  h1: 2.25rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1.125rem,
  h6: 1rem
) !default;


/**
 * SPACING-UNITS
 */
$spacing-unit: 1.5rem !default;

$spacing-unit-factor-tiny: 0.25 !default;
$spacing-unit-factor-small: 0.5 !default;
$spacing-unit-factor-large: 2 !default;
$spacing-unit-factor-huge: 4 !default;

$spacing-units: (
  tiny: $spacing-unit * $spacing-unit-factor-tiny,
  small: $spacing-unit * $spacing-unit-factor-small,
  default: $spacing-unit,
  large: $spacing-unit * $spacing-unit-factor-large,
  huge: $spacing-unit * $spacing-unit-factor-huge,
  none: 0
) !default;


/**
 * COLORS
 * Used to generate background and color utilities.
 */
$colors: (
  gray-8: #343A40,
  gray-6: #868E96,
  gray-4: #CED4DA,
  gray-2: #E9ECEF,
  indigo-8: #3B5BDB,
  indigo-6: #4C6EF5,
  indigo-4: #748FFC,
  indigo-2: #BAC8FF
) !default;
