/* ==========================================================================
   GENERATIVE/SETTINGS
   ========================================================================== */


// Define sass-mq breakpoints
// https://github.com/sass-mq/sass-mq

$mq-breakpoints: (
  sm: 320px,
  md: 740px,
  lg: 980px,
  xl: 1300px
);


// Widths
// Define the total columns needed for widths. By default, we generate
// fractions for 12 columns.

$total-columns: 12 !default;


// Headings

$headings: (
  h1: 36px,
  h2: 28px,
  h3: 24px,
  h4: 20px,
  h5: 18px,
  h6: 16px
) !default;


// Spacing

$spacing-unit: 24px !default;
