/* ==========================================================================
   GENERATIVE/SETTINGS
   ========================================================================== */


// Define sass-mq breakpoints
// https://github.com/sass-mq/sass-mq

$mq-breakpoints: (
  sm: 320px,
  md: 740px,
  lg: 980px,
  xl: 1300px
);


// Widths
// Define the total columns needed for widths. By default, we generate
// fractions for 12 columns.

$total-columns: 12 !default;


// Headings

$headings: (
  h1: 36px,
  h2: 28px,
  h3: 24px,
  h4: 20px,
  h5: 18px,
  h6: 16px
) !default;


// Spacing units

$spacing-unit: 24px !default;

$spacing-unit-factor-tiny: 0.25 !default;
$spacing-unit-factor-small: 0.5 !default;
$spacing-unit-factor-large: 2 !default;
$spacing-unit-factor-huge: 4 !default;

$spacing-units: (
  tiny: round($spacing-unit * $spacing-unit-factor-tiny),
  small: round($spacing-unit * $spacing-unit-factor-small),
  default: $spacing-unit,
  large: round($spacing-unit * $spacing-unit-factor-large),
  huge: round($spacing-unit * $spacing-unit-factor-huge),
  none: 0
) !default;
